<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'View list', communities_path %></li>
  <li><%= link_to 'New community', new_community_path %></li>
</ul>


<div class='panel panel-primary'>
  <div class="panel-heading">Listing communities</div>

  <div class="panel-body">
<table>

  <tbody class="table">
    <% @communities.each do |community| %>
      <tr>
        <td width="800px"><%= community.name %></td>
        <td><%= link_to 'Show', community, class: 'btn btn-primary btn-xs'%></td>
        <td><%= link_to 'Edit', edit_community_path(community), class: 'btn btn-info btn-xs' %></td>
        <td><%= link_to 'Destroy', community, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>

<%= link_to new_community_path, class: 'btn btn-success' do%>
<i class="glyphicon glyphicon-plus"></i> New Community
<% end %>

